@model IEnumerable<PharmacyManagmentSystem.Models.Purchase>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display:inline;">All Purchases</h1>
<a asp-action="Create" class="btn btn-success text-white" style="float:right;">Make New Purchase</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Medicine
            </th>
            <th>
                Amount
            </th>
            <th>
                Purchase Price
            </th>
            <th>
                Sale Price
            </th>
            <th>
                Total Price
            </th>
            <th>
                Paid Amount
            </th>
            <th>
                Unpaid Amount
            </th>
            <th>
                Purchase Date
            </th>

            <th>
                Supplier Name
            </th>
            <th>
                Currency Name
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicine.TradeName)-@Html.DisplayFor(modelItem => item.Medicine.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unpaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PurchaseID" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PurchaseID" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PurchaseID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
